<template name="about">
  <div class="absolute-image green"></div>
  <div class="container center-align article-container">
    <div class="card left-align article-card">
    <h4>About</h4>
    <p>Much of the modern world is starting to recognise the adverse effects of consuming fossil-fuels, resulting in a slow gravitation towards sustainable methods of generating electricity. The Australian Securities Exchange (ASX) contains a wealth of renewable-energy based companies. However, much of the information and discussion regarding many of these investment options is really limited, outdated or difficult to find.</p>
    <p>The Clean Investor recognises this gap in information and aims to increase awareness about these sustainable options, by providing information and opinions regarding them in a single place. The Clean Investor will not only consider the economic situations and movements of these shares, but, where possible, the specifics behind the technologies.</p>
    <p>The scope of articles won’t be limited to renewable options, but rather any progressive, forward-thinking or sufficiently ethical companies in general.</p>
</div>
  </div>
</template>
