<template name="disclaimer">
  <div class="absolute-image green-two"></div>
  <div class="container center-align article-container">
    <div class="card left-align article-card">
    <h4>Disclaimer</h4>
    <p>
    Investing involves some level of risk. Investors should inform themselves of the relevant risks before pursuing any investment.
    </p>
  <p>The Clean Investor provides general information that does not consider any individual’s particular economic situation, objectives or needs. Investors should assess for themselves whether the information or advice is appropriate to their particular economic situation, objectives and needs before making any investment decision. Investors can make their own assessment of the advice or seek the assistance of a professional advisor.</p>
  <p>The Clean Investor aims to provide information that is as accurate and reliable as possible. However, The Clean Investor does not accept any liability whatsoever, whether in tort or contract or otherwise, for any loss or damage arising from use of this website. Past financial performance is not necessarily indicative of future results. Information and advice provided here is not an offer to buy or sell securities.</p>
  <p>Before commencing an investment program we recommend you seek the relevant professional legal, tax and investment advice as to whether it is suitable for your particular needs and circumstances. Failure to seek detailed professional personally tailored advice prior to acting could lead to you acting contrary to your own best interests and could lead to financial loss.</p>
  <p>Investing strategies and actions, and other information discussed in our publications may not be suitable for you. You must make your own investment decisions in light of your own circumstances. We expressly deny any liability to you for loss in any manner or form now or at any time in the future. You should be aware that some investments will lose money.</p>
  </div>
  </div>
</template>
